<p id="notice"><%= notice %></p>
 <%= image_tag @image.name.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
